@import "layout.scss";

body{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    background-size: cover;
}

// start loader

// .preloader{
//     position: fixed;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background: #000;
//     z-index: 5;
//     transition: 1s;
//     opacity: 1;
//     visibility: visible;

//     &.done{
//         opacity: 0;
//         visibility: hidden;
//     }
// }

// .loader{
//     width: 200px;
//     height: 200px;
//     border: 10px solid white;
//     border-top-color: #958177;
//     border-radius: 50%;
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     animation: 3s loader infinite linear;
// }

// @keyframes loader{
//     from{
//         transform: translate(-50%, -50%) rotate(0deg);
//     }

//     to{
//         transform: translate(-50%, -50%) rotate(360deg);
//     }
// }

// end loader

.container{
    padding-left: 15px;
    padding-right: 15px;
}

.gw-header{
    background: #000;
    min-height: 100vh;
    width: 100%;
    transition: .4s;

    &__title{
        font-size: 5.5em;
        font-weight: bold;
        text-transform: uppercase;
        color: #e4dddb;
        padding-top: 7.5rem;
    }
}

.title{
    color: #e4dddb;
    font-size: 5.5em;
}

.gw-nav{
    position: fixed;
    font-family: 'Lora', serif;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    padding-top: 2.5rem; 
    z-index: 3;
    
    &__item{
        padding-right: 25px;
        color: #e4dddb;
        text-decoration: none;
    }
}

// start video

video{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
}

// end video

// start slider

.gw-about{
    background-color: #f2efee;
}

.name{
    color: #241c18;
    font-size: 4.555em;
}

.gw-slider{
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    
    &__image{
        max-width: 100%;
    }

    &__text{
        position: absolute;
        bottom: 2.875rem;
        left: 91.9375rem;
    }

    &__text--name{
        font-size: 4.555em;
        text-transform: uppercase;
        color: #826b60;
        text-align: center;
        margin: 0;
    }

    &__textarea{
        position: absolute;
        bottom: 2.875rem;
        left: 114.9375rem;
        width: 445px;
    }

    &__title{
        font-size: 2em;
        font-weight: 400;
        margin: 0;
        text-align: center;
    }

    &__description{
        font-family: 'Lora', serif;
        font-size: 1em;
        font-weight: 400;
        margin: 0;
        padding-top: 2.75rem;
        line-height: 2;
        color: #241c18;
    }
}

// start discography

.gw-music{
    background-color: #f8f8f8;
}

.gw-discography{
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;

    &-album{
        width: 45%;

        &__image{
            max-width: 100%;
            height: auto;
            padding-top: 6.25rem;
        }

        &__title{
            margin: 0;
            padding-top: 4.6875rem;
            padding-bottom: 3.125rem;
            font-weight: 400;
            font-size: 3em;
            text-transform: capitalize;
        }

        &__list{
            padding-bottom: 5.625rem;
        }

        &__item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding-bottom: 2.5rem;
        
            &-name{
                font-size: 1.66em;
                font-weight: 300;
                margin: 0;
            }

            &-delimiter{
                max-width: 100%;
                height: auto;
            }

            &-year{
                font-size: 1.66em;
                font-weight: 300;
                margin: 0;
            }

            &-listen{
                font-size: 1em;
                font-weight: 400;
                text-transform: uppercase;
                color: #826b60;
                background-color: #e4dddb;
                padding: 10px 20px;
                border: none;
                cursor: pointer;
            }

            &-buy{
                font-size: 1em;
                font-weight: 400;
                text-transform: uppercase;
                color: #fff;
                background-color: #826b60;
                padding: 10px 25px;
                border: none;
                cursor: pointer;
            }
        }
    }

    &-playlist{
        width: 45%;

        &__album{
            padding-top: 30rem; 
            // убрать padding-top после того как добавится блок наверху
            &-name{
                font-size: 1.66em;
                font-weight: 300;
                margin: 0;
                padding-bottom: 2.25rem;
            }

            &-list{
                overflow: auto;
                overflow-x: hidden;
                width: 100%;
                height: 19.625rem;
            }

            &-item{
                display: flex;
                align-items: center;
                position: relative;
                padding-bottom: 0.9375rem;

                &-button{
                    background-color: inherit;
                    border: none;
                    cursor: pointer;
                }

                &-name{
                    padding-left: 0.9375rem;
                    margin: 0;
                    font-family: 'Lora', serif;
                    font-size: 1rem;
                    color: #826b60;
                    font-style: italic;
                }

                &-time{
                    position: absolute;
                    right: 0;
                    margin: 0;
                    padding-right: 1rem;
                    font-family: 'Lora', serif;
                    font-size: 1rem;
                    color: #826b60;
                    font-style: italic;
                }
            }
        }
    }
}

// end discography

// start tours

.gw-tours{
    background-color: #f1eeed;
    padding-bottom: 7.5rem;

    &-title{
        padding-top: 5rem;
        padding-bottom: 3.75rem;
        font-size: 3em;
        font-weight: 400;
        color: #241c18;
        text-transform: capitalize;
        text-align: center;
    }

    &-slider{
        position: relative;
        max-width: 80%;
        margin: 0 auto;
    
        &__content{
            font-size: 0.888em;
            font-weight: 700;
            color: #826b60;
            text-transform: uppercase;
            padding: 20px 0;
        }
    }

    &-dates{
        position: relative;
        margin: 0 auto;
        padding: 0 5rem;
        overflow: auto;
        overflow-x: hidden;
        width: 100%;
        height: 22.5625rem;

        &__item{
            display: flex;
            align-items: center;
            position: relative;
            padding: 1.35rem 0;
            border-bottom: 2px dotted #826b60;

            &-date{
                font-size: 3.6em;
                font-weight: 700;
                color: #241c18;
                padding-right: 0.625rem;
                margin: 0;
            }

            &-name{
                font-size: 1.66em;
                font-weight: 300;
                color: #241c18;
                padding-left: 1.25rem;
                margin: 0;
            }

            &-buy{
                position: absolute;
                right: 0;
                margin: 0;
                font-size: 1em;
                font-weight: 400;
                text-transform: uppercase;
                color: #fff;
                background-color: #826b60;
                padding: 10px 25px;
                border: none;
                cursor: pointer;
            }
        }
    }
}

span{
    font-size: 1.377em;
    font-weight: 700;
    color: #241c18; 
    text-transform: uppercase;
}

// end tours

// start contacts

.gw-contacts{
    text-align: center;
    padding-top: 10rem;
    background-image: url(../images/background_footer.jpg);

    &-title{
        font-size: 4.444em;
        font-weight: 700;
        text-transform: uppercase;
        color: #241c18;
        margin: 0;

    }

    &-phone{
        width: 45%;
        font-size: 4em;
        font-weight: 700;
        color: #e4dddb;
        margin: 0 auto;
        padding-bottom: 2rem;
        border-bottom: 2px dotted #e4dddb;
    }

    &-subcsribe{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 45%;
        margin: 0 auto;
        padding-top: 2.25rem;
        padding-bottom: 25rem;

        &__form{
            width: 75%;
        }

        &__button{
            width: 100%;
            height: 3.375rem;
            text-transform: uppercase;
            font-size: 2em;
            font-weight: 700;
            background-color: inherit;
            color: #241c18;
            border: 3px solid #241c18;
            text-align: left;
            cursor: pointer;
            padding-left: 2.25rem;
            position: relative;
            transition: .5s;
            overflow: hidden;

            &::before{
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background-color: #241c18;
                top: 0;
                left: -100%;
                transition: .7s;
            }

            &:hover,
            &:active{
                color: #e4dddb;
                text-align: right;
            }

            &:hover::before{
                left: 0;
            }
        }
    }
}

// end contacts

// start footer

.gw-footer{

    &-block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 4.8125rem;
    }

    &-copyright{
        font-size: 1em;
        font-weight: 700;
        color: #e4dddb;
        text-transform: uppercase;
    }

    &-nav{
        font-family: 'Lora', serif;
        font-weight: 700;
        text-transform: uppercase;

        &__item{
            font-size: 1em;
            color: #e4dddb;
            text-decoration: none;
            padding-left: 1.875rem;
        }
    }
}

// end footer