* {
  box-sizing: border-box; }

.container {
  max-width: 1490px;
  width: 100%;
  margin: 0 auto; }

* {
  box-sizing: border-box; }

.container {
  max-width: 1490px;
  width: 100%;
  margin: 0 auto; }

body {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  background-size: cover; }

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 10;
  transition: 1s;
  opacity: 1;
  visibility: visible; }
  .preloader.done {
    opacity: 0;
    visibility: hidden; }

.loader {
  width: 200px;
  height: 200px;
  border: 10px solid white;
  border-top-color: #958177;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: 3s loader infinite linear; }
  @media screen and (max-width: 768px) {
    .loader {
      width: 120px;
      height: 120px; } }

@keyframes loader {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }

.container {
  padding-left: 15px;
  padding-right: 15px; }

.gw-header {
  background: #000;
  min-height: 100vh;
  width: 100%;
  transition: .4s; }
  .gw-header__title {
    font-size: 5.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: #e4dddb;
    padding-top: 7.5rem; }
    @media screen and (max-width: 768px) {
      .gw-header__title {
        font-size: 4.5em;
        padding-top: 2.5rem; } }

.title {
  color: #e4dddb;
  font-size: 5.5em; }
  @media screen and (max-width: 768px) {
    .title {
      font-size: 4.5em; } }

.gw-nav {
  position: relative;
  font-family: 'Lora', serif;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  padding-top: 2.5rem;
  z-index: 3; }
  @media screen and (max-width: 768px) {
    .gw-nav {
      display: flex;
      align-items: center; } }
  .gw-nav__item {
    padding-right: 25px;
    color: #e4dddb;
    text-decoration: none; }
    .gw-nav__item:hover {
      color: #000; }
  @media screen and (max-width: 768px) {
    .gw-nav {
      font-size: .75em; } }

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.5; }

.gw-about {
  background-color: #f2efee; }

.gw-slider {
  position: relative;
  max-width: 90%;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .gw-slider {
      max-width: 100%; } }
  .gw-slider__image {
    max-width: 100%; }
  .gw-slider__block {
    position: relative;
    display: flex;
    justify-content: space-between; }
  .gw-slider__text {
    position: absolute;
    bottom: 1em;
    left: 0;
    width: 50%;
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5rem;
    padding-left: 17rem; }
    @media screen and (max-width: 768px) {
      .gw-slider__text {
        font-size: 1em;
        text-align: center;
        padding-top: .5rem;
        padding-left: 0;
        align-items: center;
        left: 3.75rem;
        bottom: 10.625rem;
        width: 100%; } }
    .gw-slider__text--name {
      color: #826b60;
      margin: 0; }
    .gw-slider__text--surname {
      color: #241c18; }
  .gw-slider__textarea {
    width: 30%;
    position: absolute;
    bottom: 4em;
    right: 6rem; }
    @media screen and (max-width: 768px) {
      .gw-slider__textarea {
        width: 100%;
        position: initial; } }
  .gw-slider__title {
    font-size: 2em;
    font-weight: 400;
    margin: 0;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .gw-slider__title {
        font-size: 1em;
        padding-top: .5rem; } }
  .gw-slider__description {
    font-family: 'Lora', serif;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    padding-top: 2.75rem;
    line-height: 2;
    color: #241c18; }
    @media screen and (max-width: 768px) {
      .gw-slider__description {
        font-size: .5em;
        padding-top: .75rem; } }

.prev {
  position: absolute;
  bottom: 50%;
  top: 50%;
  left: 0;
  z-index: 1; }
  .prev:hover {
    cursor: pointer;
    opacity: .7; }
  @media screen and (max-width: 768px) {
    .prev {
      height: 10%;
      top: 35%; } }

.next {
  position: absolute;
  bottom: 50%;
  top: 50%;
  right: 0; }
  .next:hover {
    cursor: pointer;
    opacity: .7; }
  @media screen and (max-width: 768px) {
    .next {
      height: 10%;
      top: 35%; } }

.gw-music {
  background-color: #f8f8f8; }

.gw-discography {
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .gw-discography {
      display: initial;
      justify-content: initial; } }
  .gw-discography-album {
    width: 45%; }
    @media screen and (max-width: 768px) {
      .gw-discography-album {
        width: 100%; } }
    .gw-discography-album__image {
      max-width: 100%;
      height: auto;
      padding-top: 6.25rem; }
      @media screen and (max-width: 768px) {
        .gw-discography-album__image {
          padding-top: 2.25rem;
          position: absolute;
          right: 71%;
          max-width: 75%; } }
    .gw-discography-album__title {
      margin: 0;
      padding-top: 4.6875rem;
      padding-bottom: 3.125rem;
      font-weight: 400;
      font-size: 3em;
      text-transform: capitalize; }
      @media screen and (max-width: 768px) {
        .gw-discography-album__title {
          padding-bottom: 3rem;
          font-size: 2em;
          text-align: center; } }
    .gw-discography-album__list {
      padding-bottom: 5.625rem; }
      @media screen and (max-width: 768px) {
        .gw-discography-album__list {
          padding-bottom: .5rem; } }
    .gw-discography-album__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding-bottom: 2.5rem; }
      @media screen and (max-width: 768px) {
        .gw-discography-album__item {
          padding-bottom: 1rem; } }
      .gw-discography-album__item-name {
        font-size: 1.66em;
        font-weight: 300;
        margin: 0; }
        @media screen and (max-width: 768px) {
          .gw-discography-album__item-name {
            font-size: .7em; } }
      .gw-discography-album__item-delimiter {
        max-width: 100%;
        height: auto; }
        @media screen and (max-width: 768px) {
          .gw-discography-album__item-delimiter {
            max-width: 0; } }
      .gw-discography-album__item-year {
        font-size: 1.66em;
        font-weight: 300;
        margin: 0; }
        @media screen and (max-width: 768px) {
          .gw-discography-album__item-year {
            font-size: .7em; } }
      .gw-discography-album__item-listen {
        font-size: 1em;
        font-weight: 400;
        text-transform: uppercase;
        color: #826b60;
        background-color: #e4dddb;
        padding: 10px 20px;
        border: none;
        cursor: pointer; }
        .gw-discography-album__item-listen:hover, .gw-discography-album__item-listen:active, .gw-discography-album__item-listen:focus-within {
          background-color: #000;
          color: #f2efee; }
        @media screen and (max-width: 768px) {
          .gw-discography-album__item-listen {
            font-size: .5em;
            padding: 5px 10px; } }
      .gw-discography-album__item-buy {
        font-size: 1em;
        font-weight: 400;
        text-transform: uppercase;
        color: #fff;
        background-color: #826b60;
        padding: 10px 25px;
        border: none;
        cursor: pointer; }
        .gw-discography-album__item-buy:hover, .gw-discography-album__item-buy:active, .gw-discography-album__item-buy:focus-within {
          background-color: #000;
          color: #f2efee; }
        @media screen and (max-width: 768px) {
          .gw-discography-album__item-buy {
            font-size: .5em;
            padding: 5px 15px; } }
  .gw-discography-playlist {
    width: 45%; }
    @media screen and (max-width: 768px) {
      .gw-discography-playlist {
        width: 100%; } }
    .gw-discography-playlist__album {
      padding-top: 30rem; }
      @media screen and (max-width: 768px) {
        .gw-discography-playlist__album {
          padding-top: 0; } }
      .gw-discography-playlist__album-name {
        font-size: 1.66em;
        font-weight: 300;
        margin: 0;
        padding-bottom: 2.25rem; }
        @media screen and (max-width: 768px) {
          .gw-discography-playlist__album-name {
            font-size: 1em;
            padding-bottom: 1rem; } }
      .gw-discography-playlist__album-list {
        overflow: auto;
        overflow-x: hidden;
        width: 100%;
        height: 19.625rem; }
      .gw-discography-playlist__album-item {
        display: flex;
        align-items: center;
        position: relative;
        padding-bottom: 0.9375rem; }
        .gw-discography-playlist__album-item-button {
          background-color: inherit;
          border: none;
          cursor: pointer; }
        .gw-discography-playlist__album-item-name {
          padding-left: 0.9375rem;
          margin: 0;
          font-family: 'Lora', serif;
          font-size: 1rem;
          color: #826b60;
          font-style: italic; }
          @media screen and (max-width: 768px) {
            .gw-discography-playlist__album-item-name {
              font-size: .7em; } }
        .gw-discography-playlist__album-item-time {
          position: absolute;
          right: 0;
          margin: 0;
          padding-right: 1rem;
          font-family: 'Lora', serif;
          font-size: 1rem;
          color: #826b60;
          font-style: italic; }
          @media screen and (max-width: 768px) {
            .gw-discography-playlist__album-item-time {
              font-size: .7em; } }

.hide {
  display: none; }

.gw-discography-album__item-left {
  width: 100%; }

.gw-discography-album__item-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }

.gw-tours {
  background-color: #f1eeed;
  padding-bottom: 7.5rem; }
  @media screen and (max-width: 768px) {
    .gw-tours {
      padding-bottom: 1.5rem; } }
  .gw-tours-title {
    padding-top: 5rem;
    padding-bottom: 3.75rem;
    font-size: 3em;
    font-weight: 400;
    color: #241c18;
    text-transform: capitalize;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .gw-tours-title {
        padding-top: 2rem;
        padding-bottom: 1rem;
        font-size: 2em; } }
  .gw-tours-slider {
    position: relative;
    max-width: 80%;
    margin: 0 auto; }
    .gw-tours-slider__content {
      font-size: 0.888em;
      font-weight: 700;
      color: #826b60;
      text-transform: uppercase;
      padding: 20px 0;
      text-align: center; }
      @media screen and (max-width: 768px) {
        .gw-tours-slider__content {
          font-size: .6em; } }
  .gw-tours-dates {
    position: relative;
    margin: 0 auto;
    padding: 0 5rem;
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    height: 22.5625rem; }
    @media screen and (max-width: 768px) {
      .gw-tours-dates {
        padding: 0; } }
    .gw-tours-dates__item {
      display: flex;
      align-items: center;
      position: relative;
      padding: 1.35rem 0;
      border-bottom: 2px dotted #826b60;
      text-transform: uppercase; }
      .gw-tours-dates__item-date {
        font-size: 3.6em;
        font-weight: 700;
        color: #241c18;
        padding-right: 0.625rem;
        margin: 0; }
        @media screen and (max-width: 768px) {
          .gw-tours-dates__item-date {
            font-size: 2.6em; } }
      .gw-tours-dates__item-name {
        font-size: 1.66em;
        font-weight: 300;
        color: #241c18;
        padding-left: 1.25rem;
        margin: 0; }
        @media screen and (max-width: 768px) {
          .gw-tours-dates__item-name {
            font-size: 1em; } }
      .gw-tours-dates__item-buy {
        position: absolute;
        right: 0;
        margin: 0;
        font-size: 1em;
        font-weight: 400;
        text-transform: uppercase;
        color: #fff;
        background-color: #826b60;
        padding: 10px 25px;
        border: none;
        cursor: pointer; }
        .gw-tours-dates__item-buy:hover, .gw-tours-dates__item-buy:active, .gw-tours-dates__item-buy:focus-within {
          background-color: #000;
          color: #f2efee; }
        @media screen and (max-width: 768px) {
          .gw-tours-dates__item-buy {
            top: 4.375rem;
            font-size: .5em;
            padding: 5px 10px; } }

span {
  font-size: 1.377em;
  font-weight: 700;
  color: #241c18;
  text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    span {
      font-size: 1em; } }

a {
  text-decoration: none;
  color: inherit; }

.gw-contacts {
  text-align: center;
  padding-top: 10rem;
  background-image: url(../images/background_footer.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (max-width: 768px) {
    .gw-contacts {
      padding-top: 1rem; } }
  .gw-contacts-title {
    font-size: 4.444em;
    font-weight: 700;
    text-transform: uppercase;
    color: #241c18;
    margin: 0; }
    @media screen and (max-width: 768px) {
      .gw-contacts-title {
        font-size: 3em; } }
  .gw-contacts-phone {
    width: 45%;
    font-size: 4em;
    font-weight: 700;
    color: #e4dddb;
    margin: 0 auto;
    padding-bottom: 2rem;
    border-bottom: 2px dotted #e4dddb; }
    @media screen and (max-width: 768px) {
      .gw-contacts-phone {
        width: 80%;
        font-size: 1.5em;
        padding: 1rem 0; } }
  .gw-contacts-subcsribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    margin: 0 auto;
    padding-top: 2.25rem;
    padding-bottom: 25rem; }
    @media screen and (max-width: 768px) {
      .gw-contacts-subcsribe {
        width: 100%;
        display: initial; } }
    .gw-contacts-subcsribe__form {
      width: 75%; }
      @media screen and (max-width: 768px) {
        .gw-contacts-subcsribe__form {
          width: 80%;
          margin: 0 auto;
          padding: 1.5rem 0; } }
    .gw-contacts-subcsribe__button {
      width: 100%;
      height: 3.375rem;
      text-transform: uppercase;
      font-size: 2em;
      font-weight: 700;
      background-color: inherit;
      color: #241c18;
      border: 3px solid #241c18;
      text-align: left;
      cursor: pointer;
      padding-left: 2.25rem;
      position: relative;
      transition: .5s;
      overflow: hidden; }
      .gw-contacts-subcsribe__button::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: #241c18;
        top: 0;
        left: -100%;
        transition: .5s; }
      .gw-contacts-subcsribe__button:hover::before, .gw-contacts-subcsribe__button:focus-within::before {
        left: 0; }
      @media screen and (max-width: 768px) {
        .gw-contacts-subcsribe__button {
          width: 100%;
          font-size: 1em;
          border: 2px solid #241c18;
          padding-left: 1rem;
          height: 2.5rem; } }
    .gw-contacts-subcsribe__social:hover {
      opacity: .5; }
    @media screen and (max-width: 768px) {
      .gw-contacts-subcsribe__social {
        padding: 0 0.625rem; } }
    @media screen and (max-width: 768px) {
      .gw-contacts-subcsribe__social--img {
        max-width: 20%; } }

.subscribe {
  font-size: 1em;
  position: relative;
  display: block; }
  .subscribe:hover, .subscribe:active {
    color: #e4dddb;
    text-align: right;
    padding-right: 2.25rem; }

.gw-footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4.8125rem; }
  @media screen and (max-width: 768px) {
    .gw-footer-block {
      padding: 1rem 0; } }

.gw-footer-copyright {
  font-size: 1em;
  font-weight: 700;
  color: #e4dddb;
  text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .gw-footer-copyright {
      font-size: 0; } }

.gw-footer-nav {
  font-family: 'Lora', serif;
  font-weight: 700;
  text-transform: uppercase; }
  .gw-footer-nav__item {
    font-size: 1em;
    color: #e4dddb;
    text-decoration: none;
    padding: 0 1rem 0.2rem; }
    .gw-footer-nav__item:hover {
      color: #000;
      border-bottom: 2px solid #fff; }
    @media screen and (max-width: 768px) {
      .gw-footer-nav__item {
        font-size: .5em;
        padding: 0 .2rem 0 .2rem; } }
